.flex-column {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.flex-row {
	display: flex;
	align-items: center;
	gap: 40px;
}

.flex-row img {
	width: 150px;
}

.flex-row button {
	height: 30px;
}
